{
  "stocks": [
    {
      "code": "000001",
      "highest": 12.08,
      "lowest": 11.99,
      "remark": "平安银行"
    },
    {
      "code": "000002",
      "highest": 32.04,
      "lowest": 31.99,
      "remark": "万科A"
    }
  ],
  "time": {
    "start": "09:30",
    "end": "15:00"
  },
  "notification": {
    "url": "https://hook.bearychat.com/=bwCEN/incoming/88b7af379613e62f292f487e4c08d42e",
    "channel": "stock"
  },
  "interval": 30
}